body{
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    color: #222222;
    margin-top: 60px;
}

a  {
    color: #222222;
}

h1 {
    margin-left: 10px;
}


h2 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-style: normal;
}


h3,h4,h5 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.projects li{
    list-style-type: none;
    display: inline-block;
    width: 300px;
    margin-right: 5px;
}

.blogs li{
    list-style-type: square;
}

.blogs a{
    border-bottom: none;
}

#text{
    width: 400px;
}

p{
    margin-left:10px;
    margin-bottom:14px;
    color: #222222;
}


#text {
    display: inline-block;
}

#circles {
    display: inline-block;
}

#main {
    position: relative;
    top:600px;
    left:10px;
}

#map{
    height: 500px;
    width: 1000px;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
}


.gallery{
    display: none;
}

.training{
    display: none;
}


.data_projects{
    display: none;
}

.gallery img{
    padding: 5px;
    transition: 1s;
}


.list_project{
    list-style-type: none;
}


ul.list_project li{
    float: left;
    padding: 15px;

}


.project-thumbnails img:hover{
    cursor: pointer;
}


/* meetup table */

table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 2px;
    text-align: left;
}

th {
    font-weight:bold;
    text-align: center;
}
